@charset "UTF-8";
/* CSS Document */

/* Smartphones (portrait and LANDSCAPE) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : LANDSCAPE) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 980px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


@font-face {
        font-family:"Open Sans";
        src: url('871246338-OpenSans-Regular.eot');
        src: url('871246338-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('871246338-OpenSans-Regular.svg#Open Sans') format('svg'),
        url('871246338-OpenSans-Regular.woff') format('woff'),
        url('OpenSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Open Sans Semibold";
        src: url('11291504-OpenSans-Semibold.eot');
        src: url('11291504-OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('11291504-OpenSans-Semibold.svg#Open Sans Semibold') format('svg'),
        url('11291504-OpenSans-Semibold.woff') format('woff'),
        url('11291504-OpenSans-Semibold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Open Sans";
        src: url('425628663-OpenSans-Bold.eot');
        src: url('425628663-OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('425628663-OpenSans-Bold.svg#Open Sans') format('svg'),
        url('425628663-OpenSans-Bold.woff') format('woff'),
        url('425628663-OpenSans-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

Body{
font-family: "Open Sans Semibold";
width: 400px;
margin: 25px auto 20px;

}
/**********************
'a' These are the styles for the main navigation links. Includes both top navigation and centered category links.
**********************/
a{
font-family: "Open Sans Semibold";
text-decoration:none;
color:#333333;
text-transform: uppercase;
font-size:11px;
letter-spacing:.2em;
outline: none;
display: block;

}

a:hover{
color:#336699;
}

#mainimage{
background:'none';
width:400px;
height:480px;
}


#content, aboutus{
font-size: 18px;
text-align: center;
padding-bottom: 50px;
width:100%;
}

/*****************
'h1' and 'header' refers to the Spiritbuzz logo in the header that links back to homepage.
******************/
h1{
text-decoration:none;
margin : 0;
padding : 0;
background:url(spiritbuzzlogomobile.jpg);
background-repeat:no-repeat;
background-position: center;
outline: none;
height: 240px;
text-decoration: none;
margin-left:40px;
}

h1 a {
display : block;
height : 250px;
text-indent : -9999px;
outline: none;
}

#header{
width:80%;
height:210px;
display: inline-block;


}

li{
display: inline-block;
}

/**************
'h3' refers to the name/link of the product on the category page.
And on the product page it refers to the listed name and price including the 'add cart' text.
***************/
h3{
 font-family: "Open Sans Semibold";
 font-size:14px;
}

/***************
'p' is the block description of the product on the product page.
****************/
p{
font-family: "Open Sans";
}

/****************
'navigation' and 'li' refers to the category links at the center of the page.
*****************/
#navigation{
display:none;
}

#left{
line-height:30px;
display:inline-block;
}

#leftnavigation, a{
display:inline-block;
padding:7px;
font-size:15px;
}

/********************
hidemobile are the links hidden on mobile device in the top navigation bar.
*********************/
a.hidemobile { display: none
}

/*******************
categorymobile refers to the section containing the category grid on the index page for mobile.
********************/
#categorymobile{
padding-top:30px;
width:70%;
padding-left:45px;
}

#categorymobile h3{
text-align: center;
padding-right:25px;
}

/******************
user_form is the register form.
*******************/
#user_form{
   	width: 50%;
	margin: 0 auto;
	position: relative;
	font-family: "Open Sans Semibold";
	font-size:13px;
    letter-spacing:.2em;
	background: #ffffff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}


#user_form, username{
    width:50%;
    text-transform:uppercase;
	letter-spacing:.2em;
}

#user_form, input{
    width: 50%;
    padding: 15px 25px;

}

#user_form, input, submit{
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	cursor: pointer;
	font-size:13px;
	text-transform:uppercase;
	 letter-spacing:.2em;
	 font-family:"Open Sans Semibold";

}

#user_form, input:hover {
	background: #ffffff;
    color: #000000;
}

#user_form, input, submit{
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	cursor: pointer;
	font-size:13px;
	text-transform:uppercase;
	 letter-spacing:.2em;
	 font-family:"Open Sans Semibold";
}

#login_form {
	width: 50%;
	margin: 0 auto;
	position: relative;
	font-family: "Open Sans Semibold";
	font-size:13px;
    letter-spacing:.2em;
	background: #ffffff;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

}

#login_form, input{
    width: 100%;
    padding: 15px 25px;
}
#login_form, username{
    width:50%;

}
#login_form, input, username, password, text {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;

}

#login_form, input:hover {
	background: #f5f5f5;
    color: #000000;

}
#login_form, input:focus {
    outline:none;
}

#login_form, input, submit{
    background: #ffffff;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	cursor: pointer;
	font-size:13px;
	text-transform:uppercase;
	 letter-spacing:.2em;
}


#registerhere{
	height:40px;
    padding-top:15px;
    padding-bottom:90px;
}

.tr,label{
     font-family: "Open Sans";
    font-size:13px;
    letter-spacing:.2em;
    text-transform:uppercase;
}


#checkoutform{
    padding-top:30px;
    width:50%;
    position:relative;
    font-size:13px;
    letter-spacing:.2em;
    margin:0 auto;
    font-family: "Open Sans Semibold";
}

#checkoutform, input, submit{
    margin: 0 auto;
    position:relative;

}

    #searchbox{
    height:5px;
    width:170px;
    padding-bottom:75px;
    margin-left:110px;

}

#footer{
width:100%;
height:70px;
clear: both;
padding-top: 10px;
margin-bottom: 20px;
padding-bottom: 10px;
font-size:11px;
text-align:center;
letter-spacing:.2em;
font-family: "Open Sans Semibold";
}