<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load static %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SPIRIT BUZZ</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen and (max-width: 480px) " href="{% static "mobile.css" %}" />
<link rel="stylesheet" media="screen and (min-width: 980px)" href="{% static "Test.css" %}" />
<link rel="stylesheet" href="{% static "producttable.css" %}"/>
<link rel="stylesheet" href="{% static "producttable2.css" %}"/>

<style>
@font-face{
font-family: "Open Sans";
src: url('871246338-OpenSans-Regular.eot');
src: url('871246338-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
url('871246338-OpenSans-Regular.svg#Open Sans') format('svg'),
url('871246338-OpenSans-Regular.woff') format('woff'),
url('871246338-OpenSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
</style>

</head>


<body>
<div id="page">

    <div id="leftnavigation">
	<a href="/cart/">View Cart</a>
    <a href="News.html" class="hidemobile">News</a>
    <a href="/spiritbuzz/aboutus" class="hidemobile">About Us</a>
    <a href="/spiritbuzz/login" class="hidemobile">Blog</a>
    <a href="Login.html">Register/Log In</a>
    </div>


    <div id="header">
     <h1><a href="/spiritbuzz">spirit buzz</a></h1>
    </div>


    <div id="navigation">
		{% if categories %}
        <ul>
        {% for category in categories %}
        <!-- Following line changed to add an HTML hyperlink -->
        <li><a href="/spiritbuzz/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
       {% else %}
        <strong>There are no categories present.</strong>
       {% endif %}
        </div>


            <div id="content" class="aboutus">
                We're really awesome. Give us a call!
             </div>




		<div id="footer">
        SPIRITBUZZ ©2014
        </div>

</div>

</body>
</html>