{% load static %}
{% include 'tags/navigation.html' %}

            <div id="content">
                <div class="container">
                    <div class="row">
	                {% if c %}
                    {% if products %}
                    {% for p in products %}

                <h3>{{ category.name }}</h3>
                <div class="col-md-4 portfolio-item">
                <a href="/spiritbuzz/category/{{ c.slug }}/product/{{ p.slug }}">
                    <img class="img-responsive" src="{{p.picture.url}}"></a>

                <h3><a href="/spiritbuzz/category/{{ c.slug }}/product/{{ p.slug }}">{{p.name}}</a></h3>
                <p>{{p.description}}</p>
                </div>
                {% endfor %}
                {% else %}
                <strong>No pages currently in category.</strong>

                {% endif %}
                {% else %}
                The specified category {{ category_name }} does not exist!
                {% endif %}

            </div>
            </div>


            <script src="{% static "js/jquery-1.10.2.js" %}"></script>
            <script src="{% static "js/product2.js" %}"></script>
            <script src="{% static "js/product.js" %}"></script>


         </div>

            <div id="footer">
             SPIRITBUZZ ©2014
            </div>

</div>

</body>
</html>

