

{% load static %}
{% include 'tags/navigation.html' %}


                <div id="content">
                    <div class="container">
                        <div class="row">

                        <div class="col-md-8">
                        <img class="img-responsive" src="{{p.picture.url}}">
                        </div>

                        <div class="col-md-4">
                         <h3>{{p.name}}</h3>
                        <p>{{p.description}}</p>
                        <h3>{{p.price}}</h3>
                        <form method = "post" action = "." class = "cart">
                        {% csrf_token %}
                        {{form.as_p}}<br/>
                       <input type = "submit" value = "Add To Cart" name = "submit" alt = "Add To Cart" />

                        </form>

                <div class = "cb"><br/><br/>
                    <h3>Related Products</h3>
                    {% for p in p.cross_sells_hybrid %}
                    <div id="content">
                    <div class="container">
                        <div class="row">

                        <div class="col-md-8">
                        <img class="img-responsive" src="{{p.picture.url}}">
                        </div>

                        <div class="col-md-4">
                         <h3>{{p.name}}</h3>
                        <p>{{p.description}}</p>
                        <h3>{{p.price}}</h3>
                        {% empty %}
                        No related products.
                    {% endfor %}
                    <div class = "cb"><br/><br/>
                </div>
                <div class = "cb"><br/><br/></div>
                <h3>Product Reviews</h3>
                {% if request.user.is_authenticated %}
                <a id = "add_review">Write a Review</a>
                <div id = "review_form">
                    <div id = "review_errors"></div>
                    <table>
                        {{ review_form.as_table }}
                        <tr><td colspan = "2">
                            <input type = "hidden" id = "id_slug" value = "{{ p.slug }}"/>
                            <input type = "submit" id = "submit_review" value = "Submit"/>
                            <input type = "submit" id = "cancel_review" value = "Cancel"/>
                        </td></tr>
                    </table>
                </div>
                {% else %}
                <a href = "/spiritbuzz/login/?next={{request.path}}">Log in to write your own review</a>
                {% endif %}
                <div class = "cb"><br/><br/></div>
                <div id = "reviews">
                    {% for review in product_reviews %}
                    {% include 'catalog/product_review.html' %}
                    {% empty %}
                    <div id = "no_reviews">No product reviews yet.</div>
                    {% endfor %}
                </div>
                <div class = "cb"><br/><br/></div>
                </div>
                </div>
                </div>

                <script src="{% static "../js/jquery-1.10.2.js"%}"></script>
                <script src="{% static "product2.js"%}"></script>
                <script src="{% static "../js/product.js"%}"></script>



</div>

	<div id="footer">
    SPIRITBUZZ ©2014
    </div>

</div>
</body>
</html>

